* {
    font-family: 'Barlow';
}
body {
    margin: 0;
    background-color: hsl(210, 46%, 95%);
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 4%; 
    gap: 20px;
}
.card {
    border-radius: 12px;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 15px rgb(195, 204, 212);
}
.user {
    display: flex;
    align-items: center;
}
.profile-photo {
    width: 40px;
    border: 2px solid peachpuff;
    border-radius: 50px;
    transition: .2s;
}
.profile-photo:hover {
    transform: scale(1.09);
    cursor: pointer;
}
.name {
    margin: 0 5px;
    color: white;
    font-weight: 600;
}
h6 {
    margin: 0 5px;
}
.general-info {
    display: flex;
    flex-direction: column;
}
h3 {
    color: white;
    font-weight: 400;
}
.purple-card {
    background-color: hsl(263, 55%, 52%);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 10px right 80px;
}
.purple-card .profile-photo {
    border: 2px solid hsl(263, 50%, 64%);
}
.dark-grey-card {
    background-color: hsl(217, 19%, 35%);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.dark-blue-card {
    background-color: hsl(219, 29%, 14%);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.dark-blue-card .profile-photo {
    border: 2px solid hsl(263, 55%, 52%);
}
.jeanette-card {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.jeanette-card h3, .side-card h3 {
    color: hsl(208, 33%, 33%);
}
.jeanette-card p, .side-card p {
    color: hsl(208, 33%, 33%);
}
.jeanette-card .name, .side-card .name {
    color: hsl(208, 33%, 33%);
}
.side-card {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
p {
    font-size: 14px;
    color: hsl(0, 0%, 81%);
}
@media screen and (max-width: 1100px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    .purple-card {
        background-color: hsl(263, 55%, 52%);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .dark-grey-card {
        background-color: hsl(217, 19%, 35%);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .dark-blue-card {
        background-color: hsl(219, 29%, 14%);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .jeanette-card {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .side-card {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}
@media screen and (max-width: 860px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 15px;
        grid-template-rows: repeat(5, auto);
    }
    .side-card {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .purple-card {
        background-color: hsl(263, 55%, 52%);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .dark-blue-card {
        background-color: hsl(219, 29%, 14%);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .dark-grey-card {
        background-color: hsl(217, 19%, 35%);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .jeanette-card {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
/* @media screen and (max-height: 400px){
    .grid {
        grid-template-columns: repeat(5, 600px);
        grid-template-rows: 1fr;
        overflow-x: scroll;
        padding: 2px 10px;
    }
    .side-card {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .purple-card {
        background-color: hsl(263, 55%, 52%);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .dark-blue-card {
        background-color: hsl(219, 29%, 14%);
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .dark-grey-card {
        background-color: hsl(217, 19%, 35%);
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .jeanette-card {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }
} */